In [2]:
import pandas as pd
import os

In [5]:
counter = 0
amazon = pd.DataFrame()
apple = pd.DataFrame()
att = pd.DataFrame()
disney = pd.DataFrame()
microsoft = pd.DataFrame()
netflix = pd.DataFrame()
verizon = pd.DataFrame()
walmart = pd.DataFrame()

for root, dirs, files in os.walk('Extra data June/'):
    if counter:
        print 'Initializing dataframe and adding data...'
        amazon = pd.concat([amazon,pd.DataFrame(pd.read_csv('%s/%s' % (root, files[0]), names = ['Twitter', 'Date']), columns=['Twitter', 'Date'])], ignore_index=True)
        apple = pd.concat([apple,pd.DataFrame(pd.read_csv('%s/%s' % (root, files[1]), names = ['Twitter', 'Date']), columns=['Twitter', 'Date'])], ignore_index=True)
        att = pd.concat([att,pd.DataFrame(pd.read_csv('%s/%s' % (root, files[2]), names = ['Twitter', 'Date']), columns=['Twitter', 'Date'])], ignore_index=True)
        disney = pd.concat([disney,pd.DataFrame(pd.read_csv('%s/%s' % (root, files[3]), names = ['Twitter', 'Date']), columns=['Twitter', 'Date'])], ignore_index=True)
        microsoft = pd.concat([microsoft,pd.DataFrame(pd.read_csv('%s/%s' % (root, files[4]), names = ['Twitter', 'Date']), columns=['Twitter', 'Date'])], ignore_index=True)
        netflix = pd.concat([netflix,pd.DataFrame(pd.read_csv('%s/%s' % (root, files[5]), names = ['Twitter', 'Date']), columns=['Twitter', 'Date'])], ignore_index=True)
        verizon = pd.concat([verizon,pd.DataFrame(pd.read_csv('%s/%s' % (root, files[6]), names = ['Twitter', 'Date']), columns=['Twitter', 'Date'])], ignore_index=True)
        walmart = pd.concat([walmart,pd.DataFrame(pd.read_csv('%s/%s' % (root, files[7]), names = ['Twitter', 'Date']), columns=['Twitter', 'Date'])], ignore_index=True)
    counter+=1
data_list = [amazon,apple,att,disney,microsoft,netflix,verizon,walmart]
company_list=[]
for df in data_list:
    print 'Building company list...'
    company_list.append(pd.DataFrame(df.groupby('Date')['Twitter'].apply(lambda x:x.sum())).reset_index())
for root, dirs, files in os.walk('Twitter Results/PivotedResults/'):
    print 'Joining Pivoted data...'
    company_list[0] = pd.concat([company_list[0],pd.DataFrame(pd.read_csv('%s/%s' % (root, files[0]), names = ['Date','Twitter']), columns=['Date','Twitter'])], ignore_index=True)
    company_list[1] = pd.concat([company_list[1],pd.DataFrame(pd.read_csv('%s/%s' % (root, files[1]), names = ['Date','Twitter']), columns=['Date','Twitter'])], ignore_index=True)
    company_list[2] = pd.concat([company_list[2],pd.DataFrame(pd.read_csv('%s/%s' % (root, files[2]), names = ['Date','Twitter']), columns=['Date','Twitter'])], ignore_index=True)
    company_list[3] = pd.concat([company_list[3],pd.DataFrame(pd.read_csv('%s/%s' % (root, files[3]), names = ['Date','Twitter']), columns=['Date','Twitter'])], ignore_index=True)
    company_list[4] = pd.concat([company_list[4],pd.DataFrame(pd.read_csv('%s/%s' % (root, files[4]), names = ['Date','Twitter']), columns=['Date','Twitter'])], ignore_index=True)
    company_list[5] = pd.concat([company_list[5],pd.DataFrame(pd.read_csv('%s/%s' % (root, files[5]), names = ['Date','Twitter']), columns=['Date','Twitter'])], ignore_index=True)
    company_list[6] = pd.concat([company_list[6],pd.DataFrame(pd.read_csv('%s/%s' % (root, files[6]), names = ['Date','Twitter']), columns=['Date','Twitter'])], ignore_index=True)
    company_list[7] = pd.concat([company_list[7],pd.DataFrame(pd.read_csv('%s/%s' % (root, files[7]), names = ['Date','Twitter']), columns=['Date','Twitter'])], ignore_index=True)

def reparse_date(df):
    for item in df.iterrows():
        date = item[1][0].split()[0].split('-')
        date = '%s_%s_%s' % (date[1],date[2],date[0][-2:])
        df.loc[item[0],'Date'] = date
    return df
quandl_list=[]
for root, dirs, files in os.walk('Quandl Prices/'):
    for i in range(len(files)):
        print 'Building Quandl list...'
        test = pd.DataFrame.from_csv('%s/%s' % (root, files[i]))
        quandl_list.append(reparse_date(test))
        
joined_list = []
for i in range(len(quandl_list)):
    print 'Resetting index and joining table...'
    quandl_list[i]=quandl_list[i].reset_index(drop=True)
    company_list[i] = company_list[i].reset_index(drop=True)
    joined_list.append(pd.DataFrame(company_list[i].set_index('Date').join(quandl_list[i].set_index('Date'))))

Initializing dataframe and adding data...
Initializing dataframe and adding data...
Initializing dataframe and adding data...
Initializing dataframe and adding data...
Initializing dataframe and adding data...
Initializing dataframe and adding data...
Building company list...
Building company list...
Building company list...
Building company list...
Building company list...
Building company list...
Building company list...
Building company list...
Joining Pivoted data...
Building Quandl list...
Building Quandl list...
Building Quandl list...
Building Quandl list...
Building Quandl list...
Building Quandl list...
Building Quandl list...
Building Quandl list...
Resetting index and joining table...
Resetting index and joining table...
Resetting index and joining table...
Resetting index and joining table...
Resetting index and joining table...
Resetting index and joining table...
Resetting index and joining table...
Resetting index and joining table...

In [7]:
quandl_list[0]

        Date    Close  DeltaEoD  Movement
0   08_31_16  769.160     1.580         1
1   08_30_16  767.580    -3.710         0
2   08_29_16  771.290     2.290         1
3   08_26_16  769.000     9.780         1
4   08_25_16  759.220     1.970         1
5   08_24_16  757.250    -5.200         0
6   08_23_16  762.450     2.970         1
7   08_22_16  759.480     2.500         1
8   08_19_16  756.980    -7.480         0
9   08_18_16  764.460    -0.170         0
10  08_17_16  764.630     0.590         1
11  08_16_16  764.040    -4.450         0
12  08_15_16  768.490    -4.070         0
13  08_12_16  772.560     1.320         1
14  08_11_16  771.240     2.680         1
15  08_10_16  768.560     0.250         1
16  08_09_16  768.310     1.750         1
17  08_08_16  766.560     0.580         1
18  08_05_16  765.980     5.210         1
19  08_04_16  760.770     6.130         1
20  08_03_16  754.640    -5.940         0
21  08_02_16  760.580    -7.160         0
22  08_01_16  767.740     8.530         1
23  07_29_16  759.210     6.600         1
24  07_28_16  752.610    15.940         1
25  07_27_16  736.670     1.080         1
26  07_26_16  735.590    -4.020         0
27  07_25_16  739.610    -5.250         0
28  07_22_16  744.860     0.430         1
29  07_21_16  744.430    -1.290         0
..       ...      ...       ...       ...
56  06_13_16  715.240    -2.670         0
57  06_10_16  717.910    -9.740         0
58  06_09_16  727.650     1.010         1
59  06_08_16  726.640     2.790         1
60  06_07_16  723.850    -2.880         0
61  06_06_16  726.730     1.190         1
62  06_03_16  725.540    -2.700         0
63  06_02_16  728.240     8.800         1
64  06_01_16  719.440    -3.350         0
65  05_31_16  722.790    10.550         1
66  05_27_16  712.240    -2.670         0
67  05_26_16  714.910     6.560         1
68  05_25_16  708.350     4.150         1
69  05_24_16  704.200     7.450         1
70  05_23_16  696.750    -6.050         0
71  05_20_16  702.800     4.280         1
72  05_19_16  698.520     1.070         1
73  05_18_16  697.450     2.180         1
74  05_17_16  695.270   -15.390         0
75  05_16_16  710.660     0.440         1
76  05_13_16  710.220    -7.710         0
77  05_12_16  717.930     4.700         1
78  05_11_16  713.230     9.985         1
79  05_10_16  703.245    23.495         1
80  05_09_16  679.750     5.800         1
81  05_06_16  673.950    14.860         1
82  05_05_16  659.090   -11.810         0
83  05_04_16  670.900    -0.420         0
84  05_03_16  671.320   -12.530         0
85  05_02_16  683.850    24.260         1

[86 rows x 4 columns]

In [159]:
test = pd.DataFrame.from_csv('Quandl Prices/apple.csv')
print test.head()
def reparse_date(df):
    for item in df.iterrows():
        date = item[1][0].split()[0].split('-')
        date = '%s_%s_%s' % (date[1],date[2],date[0][-2:])
        df.loc[item[0],'Date'] = date
    return df
print reparse_date(test).head()

                   Date   Close  DeltaEoD  Movement
72  2016-08-31 00:00:00  106.10      0.10         1
73  2016-08-30 00:00:00  106.00     -0.82         0
74  2016-08-29 00:00:00  106.82     -0.12         0
75  2016-08-26 00:00:00  106.94     -0.63         0
76  2016-08-25 00:00:00  107.57     -0.46         0
        Date   Close  DeltaEoD  Movement
72  08_31_16  106.10      0.10         1
73  08_30_16  106.00     -0.82         0
74  08_29_16  106.82     -0.12         0
75  08_26_16  106.94     -0.63         0
76  08_25_16  107.57     -0.46         0

In [162]:
a=company_list[0].set_index('Date')
b=quandl_list[0].set_index('Date')
a.join(b, how = 'outer',on=None )

,Twitter,Close,DeltaEoD,Movement
Date,,,,
05_01_16,RT @DebbieGarnet: Saturday #hockey https://t.c...,NaN,NaN,NaN
05_02_16,Out of coffee? Wear this shirt as a warning. F...,NaN,NaN,NaN
05_03_16,RT @pabebengamazona: nakakatawa yung wally. wa...,NaN,NaN,NaN
05_04_16,.@amazon Buy at book-stores or Amazon: https:/...,NaN,NaN,NaN
05_05_16,RT @KeithUrban: Keith's new album #RIPCORD is ...,NaN,NaN,NaN
05_06_16,Three Cats Black Silhouette in a Pastel Sunset...,NaN,NaN,NaN
05_07_16,"@amazongames No PC version, wow, could've made...",NaN,NaN,NaN
05_08_16,5x7 JUMBO ~ ME &amp; MY HARLEY Landscape BLACK...,NaN,NaN,NaN
05_09_16,@adoptee01 congrats and Happy Mother's Day loo...,NaN,NaN,NaN
05_10_16,RT @classycraftsinc: 5x7 DADDY'S GIRLS ~ Portr...,NaN,NaN,NaN
05_11_16,5x7 DAD ~ Portrait BLACK FRAME ~ Holds a 4x6 o...,NaN,NaN,NaN
05_12_16,Heart of Vegas - Free Slots Casino by Product ...,NaN,NaN,NaN
05_13_16,STOP SUPPORTING T100 @hulu @amazon @netflix @W...,NaN,NaN,NaN
05_14_16,"7x15 MY FRIEND, MY MAID OF HONOR Poetry &amp; ...",NaN,NaN,NaN
06_01_16,Pass this memo to all amazon slave drivers!!!!...,NaN,NaN,NaN
06_02_16,NaN,728.24,8.80,1.0
06_03_16,NaN,725.54,-2.70,0.0
06_06_16,NaN,726.73,1.19,1.0
06_07_16,@ROAD2VICT0RY the price is just a place holder...,723.85,-2.88,0.0
06_08_16,System Design Interview Prep Material #HackerR...,726.64,2.79,1.0
06_09_16,Amazon Tops eBay in Seller Protection #homebus...,727.65,1.01,1.0
06_10_16,RT @tomcardin: Demorn: Blade of Exile (The Asa...,717.91,-9.74,0.0
06_11_16,RT @amazon: Must. Get. Treats. #PrimePet https...,NaN,NaN,NaN
06_12_16,@AlphaOmegaSin Bought a record player Friday f...,NaN,NaN,NaN
06_13_16,"Happy one year, Pearl! https://t.co/uNELipGYYo...",715.24,-2.67,0.0
06_13_16,(^^)Check out this Amazon deal: Conair Cuisina...,715.24,-2.67,0.0
06_14_16,RT @amazonIN: Introducing Amazon Father's Day ...,719.30,4.06,1.0
06_15_16,What's in My Suitcase? How a Digital Nomad Pac...,714.26,-5.04,0.0
06_16_16,#Amazon Products That Stretch Beyond #ecommerc...,717.52,3.26,1.0
06_17_16,(^^)Just saw this on Amazon: Saucony Originals...,706.39,-11.13,0.0
...,...,...,...,...
07_21_16,NaN,744.43,-1.29,0.0
07_22_16,NaN,744.86,0.43,1.0
07_25_16,NaN,739.61,-5.25,0.0
07_26_16,NaN,735.59,-4.02,0.0
07_27_16,NaN,736.67,1.08,1.0
07_28_16,NaN,752.61,15.94,1.0
07_29_16,NaN,759.21,6.60,1.0
08_01_16,NaN,767.74,8.53,1.0
08_02_16,NaN,760.58,-7.16,0.0
08_03_16,NaN,754.64,-5.94,0.0
08_04_16,NaN,760.77,6.13,1.0
08_05_16,NaN,765.98,5.21,1.0
08_08_16,NaN,766.56,0.58,1.0
08_09_16,NaN,768.31,1.75,1.0
08_10_16,NaN,768.56,0.25,1.0
08_11_16,NaN,771.24,2.68,1.0
08_12_16,NaN,772.56,1.32,1.0
08_15_16,NaN,768.49,-4.07,0.0
08_16_16,NaN,764.04,-4.45,0.0
08_17_16,NaN,764.63,0.59,1.0
08_18_16,NaN,764.46,-0.17,0.0
08_19_16,NaN,756.98,-7.48,0.0
08_22_16,NaN,759.48,2.50,1.0
08_23_16,NaN,762.45,2.97,1.0
08_24_16,NaN,757.25,-5.20,0.0
08_25_16,NaN,759.22,1.97,1.0
08_26_16,NaN,769.00,9.78,1.0
08_29_16,NaN,771.29,2.29,1.0
08_30_16,NaN,767.58,-3.71,0.0
08_31_16,NaN,769.16,1.58,1.0

In [176]:
for i in range(len(joined_list)):
    joined_list[i] = joined_list[i].dropna()

In [177]:
joined_list[0]

,Twitter,Close,DeltaEoD,Movement
Date,,,,
05_02_16,Out of coffee? Wear this shirt as a warning. F...,683.850,24.260,1.0
05_03_16,RT @pabebengamazona: nakakatawa yung wally. wa...,671.320,-12.530,0.0
05_04_16,.@amazon Buy at book-stores or Amazon: https:/...,670.900,-0.420,0.0
05_05_16,RT @KeithUrban: Keith's new album #RIPCORD is ...,659.090,-11.810,0.0
05_06_16,Three Cats Black Silhouette in a Pastel Sunset...,673.950,14.860,1.0
05_09_16,@adoptee01 congrats and Happy Mother's Day loo...,679.750,5.800,1.0
05_10_16,RT @classycraftsinc: 5x7 DADDY'S GIRLS ~ Portr...,703.245,23.495,1.0
05_11_16,5x7 DAD ~ Portrait BLACK FRAME ~ Holds a 4x6 o...,713.230,9.985,1.0
05_12_16,Heart of Vegas - Free Slots Casino by Product ...,717.930,4.700,1.0
05_13_16,STOP SUPPORTING T100 @hulu @amazon @netflix @W...,710.220,-7.710,0.0
06_01_16,Pass this memo to all amazon slave drivers!!!!...,719.440,-3.350,0.0
06_07_16,@ROAD2VICT0RY the price is just a place holder...,723.850,-2.880,0.0
06_08_16,System Design Interview Prep Material #HackerR...,726.640,2.790,1.0
06_09_16,Amazon Tops eBay in Seller Protection #homebus...,727.650,1.010,1.0
06_10_16,RT @tomcardin: Demorn: Blade of Exile (The Asa...,717.910,-9.740,0.0
06_13_16,"Happy one year, Pearl! https://t.co/uNELipGYYo...",715.240,-2.670,0.0
06_13_16,(^^)Check out this Amazon deal: Conair Cuisina...,715.240,-2.670,0.0
06_14_16,RT @amazonIN: Introducing Amazon Father's Day ...,719.300,4.060,1.0
06_15_16,What's in My Suitcase? How a Digital Nomad Pac...,714.260,-5.040,0.0
06_16_16,#Amazon Products That Stretch Beyond #ecommerc...,717.520,3.260,1.0
06_17_16,(^^)Just saw this on Amazon: Saucony Originals...,706.390,-11.130,0.0
07_01_16,I just bought: 'Dickies Scrubs Women's Gen Fle...,725.680,10.030,1.0

In [201]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.pipeline import Pipeline
from sklearn import pipeline
from sklearn.linear_model import LinearRegression
from sklearn.feature_extraction.text import TfidfVectorizer


dataX = joined_list[0]['Twitter']
vectorizer = TfidfVectorizer()
#X = vectorizer.fit_transform(dataX)

linreg = LinearRegression(fit_intercept=True) 
att_pipe = pipeline.Pipeline([
  ('tfidf', vectorizer),
  ('linreg', linreg)
  ])
att_pipe.fit(dataX,joined_list[0]['Movement'])

Pipeline(steps=[('tfidf', TfidfVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm=u'l2', preprocessor=None, smooth_idf=Tru...ry=None)), ('linreg', LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False))])

In [208]:
att_pipe.predict(['''purge'''])

array([ 0.5])

In [200]:
import dill
name_list = ['amazon','apple','att','disney','microsoft','netflix','verizon','walmart']
for i in range(len(joined_list)):
    att_pipe.fit(joined_list[i]['Twitter'],joined_list[i]['Movement'])
    dill.dump(att_pipe, open("%s.pkl" % name_list[i], "w"))

In [212]:
predictor = dill.load(open('microsoft.pkl',"r"))

In [214]:
predictor.predict(['Hello world'])

array([ 0.21428571])