In [3]:
from flask import Flask, render_template, request, redirect
import pandas as pd
import numpy as np
import flask
from pandas import *
import requests

Company_Name =  'AAPL'
API_url='https://www.quandl.com/api/v3/datasets/WIKI/%s.csv?api_key=a5-JLQBhNfxLnwxfXoUE' % Company_Name
r = requests.get(API_url)
df =  pd.read_csv(API_url, parse_dates=['Date'])

In [9]:
data = 1
print data

1

In [8]:
df.tail()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
9073,1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.396432,0.398219,0.396432,0.396432,18362400.0
9074,1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.385119,0.387054,0.385119,0.385119,21610400.0
9075,1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.377675,0.377675,0.375889,0.375889,26432000.0
9076,1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.407597,0.407597,0.405662,0.405662,43971200.0
9077,1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.427992,0.429779,0.427992,0.427992,117258400.0